MTVS_ItTakesTwo/Binaries
MTVS_ItTakesTwo/DerivedDataCache
MTVS_ItTakesTwo/Intermediate
MTVS_ItTakesTwo/Saved
MTVS_ItTakesTwo/.vsconfig
MTVS_ItTakesTwo/MTVS_ItTakesTwo.sln
MTVS_ItTakesTwo/Content/StarterContent
.vs
